################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ManageStores/Views/Shared/_Internal.cshtml
